:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* FONT COLORS */
    --font-main-color: #B3B3B3;
    --font-bright-color: #A7A7A7;
    --font-card-color: white;
    
    /* BG COLORS */
    --bg-page: black;
    --bg-nav: #121212;
    --bg-nav-brighter: #333;
    --bg-nav-bright: #242424;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,0,7);

    /* GENERAL COLORS */
    --bright-color: white;
    --dark-color: black;
    --footer-bg: linear-gradient(to right, #bf19a2,#4194ff);
}